[submodule "3rdparty/cpptoml"]
	path = 3rdparty/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "3rdparty/websocketpp"]
	path = 3rdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/json11"]
	path = 3rdparty/json11
	url = https://github.com/dropbox/json11
